@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
header .brand-area h1, header nav .nav-list {
  margin: 0;
  padding: 0;
}

.content.welcome h2, .content.involve .involve-inner h2 {
  margin: 0;
  padding: 0;
}

.stater-list {
  margin: 0;
  padding: 0;
}

.content p {
  margin: 0;
  padding: 0;
}

.content.stater .start-guide dl, .content.stater .start-guide dd {
  margin: 0;
  padding: 0;
}

.footer h3, .footer ul {
  margin: 0;
  padding: 0;
}

.footer-copy p, .footer .footer-text, .content.support .xe-col-md-4 .support-txt .table-txt dl, .snb ul, .plugin-area ul {
  margin: 0;
  padding: 0;
}

.content.welcome .link-info, .content.involve .involve-inner a {
  text-decoration: none;
}

.footer .menu-list li a, .footer h3 a, .footer .footer-copy a {
  text-decoration: none;
}

nav .nav-list {
  text-decoration: none;
}

nav .nav-list .sub-menu .sub-menu-list {
  text-decoration: none;
}

.link-brand,
.content.support .xe-col-md-4 .support-txt .table-txt a,
.sub-container .snb li a,
.rectangle a {
  text-decoration: none;
}

.stater-list, .footer ul, .snb li, .plugin-area li {
  list-style: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

@font-face {
  font-family: "ng";
  font-style: normal;
  src: url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.eot");
  src: url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ng";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Light.eot");
  src: url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Light.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Light.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Light.ttf") format("truetype");
}

/*desktop 분기*/
body {
  font-family: 'Montserrat','나눔바른고딕',NanumBarunGothic,ng,'맑은 고딕','Malgun Gothic','돋움',Dotum,'애플 SD 산돌고딕 Neo','Apple SD Gothic Neo',AppleGothic,Helvetica,sans-serif;
  font-size: 14px;
}
  
body input, body textarea, body select, body table, small {
  font-family: 'Montserrat','나눔바른고딕',NanumBarunGothic,ng,'맑은 고딕','Malgun Gothic','돋움',Dotum,'애플 SD 산돌고딕 Neo','Apple SD Gothic Neo',AppleGothic,Helvetica,sans-serif;
  font-size: 14px;
}

/* Install Box */
.tab-content .tab-pane { padding: 10px }
.license {width: 100%; background:#efefef; border:1px solid #d8d8d8; height:300px; overflow-x:none; outline:0; padding:15px; font-size:12px; line-height:1.7;}

/* Dashboard Info-box */
.info-box .info-box-content .progress .progress-bar { background-color:#ff7b00 }

/* Todo - Notification */
.task-title { overflow: hidden; white-space:nowrap; text-overflow: ellipsis; }
.task-header { background-color:#999 }

/* Todo List Toggle CSS */
.todo-list > li.done { color: #999; }
.todo-list > li.done .text { text-decoration: line-through; font-weight: 500; }
.todo-list > li.done .label-default { background: #d2d2d2 !important; }
/* Todo modal */
h4.modal-title { font-weight:600 }

/* Config */
.nav-tabs-custom .nav li.active { border-color:#dd4b39 }